:root {
  --background-image: url(../img/hero-gradient-light.svg);
  --background: rgb(243, 244, 246);
  --background-on: rgb(31, 41, 55);
  --background-on-muted: rgb(75, 85, 99);
  --surface: rgb(255, 255, 255);
  --surface-on: rgb(31, 41, 55);
  --surface-on-muted: rgb(107, 114, 128);
  --border-color: rgb(229, 231, 235);

  /* Inputs */
  --input-text: rgb(31, 41, 55);
  --input-border: rgb(229, 231, 235);

  /* Scrollbar */
  --scrollbar-thumb: rgb(211, 213, 217);
  --scrollbar-thumb-hover: rgb(193, 195, 199);

  /* Common colors */
  --primary-color: rgb(124, 58, 237);
  --primary-color-50: rgba(124, 58, 237, 0.5);
  --primary-color-hover: rgb(109, 40, 217);
  --primary-color-on: rgb(255, 255, 255);

  /* Shadows */
  --surface-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);

  /* Transitions */
  --transition: all 0.2s ease;
}

[data-theme='dark'] {
  --background-image: url(../img/hero-gradient-dark.svg);
  --background: rgb(23, 23, 23);
  --background-on: rgb(255, 255, 255);
  --background-on-muted: rgb(163, 163, 163);
  --surface: rgb(38, 38, 38);
  --surface-on: rgb(229, 229, 229);
  --surface-on-muted: rgb(115, 115, 115);
  --border-color: rgb(82, 82, 82);

  /* Inputs */
  --input-text: rgb(163, 163, 163);
  --input-border: rgb(82, 82, 82);

  /* Scrollbar */
  --scrollbar-thumb: rgb(64, 64, 64);
  --scrollbar-thumb-hover: rgb(82, 82, 82);
}
